{
  "extends": "airbnb",
  "ecmaFeatures": {
    "generators": true
  },
  "rules":{
    "strict":0,
    "func-names": 0,
    "generator-star-spacing": [2, {"before": false, "after": true}],
    "react/jsx-uses-react": 0,
    "no-underscore-dangle": 0,
    "prefer-arrow-callback": 0,
    "no-console": 0
  },
  "env": {
    "mocha":true,
    "node":true,
    "es6":true
  }
}